@using DotLms.Web.Models
@model IEnumerable<CourseViewModel>
@{
    ViewBag.Title = "Home Page";
}


@using (Ajax.BeginForm("Index", 
        new { area = "", controller = "CoursePresentation" },
        new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updatePannel" }, 
        new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="search-block-v2">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h2>Search by course name</h2>
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search courses.." />
                    <span class="input-group-btn">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div id="updatePannel">
    @Html.Partial("_CourseGrid", Model)
</div>